// dialog

/* pureJSdialog styles */

#pure-js-dialog-wrapper {
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#pure-js-dialog {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 15px #333;
    font-family: arial;
    left: 0;
    margin: 50px auto 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    width: 500px;
}

#pure-js-dialog-header, #pure-js-dialog-body, #pure-js-dialog-footer {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    width: inherit;
}

#pure-js-dialog-header, #pure-js-dialog-body {
    border-bottom: 1px solid #ddd;
}

#pure-js-dialog-header, #pure-js-dialog-footer {
    height: 50px;
}

#pure-js-dialog-header {
    top: 0;
}

#pure-js-dialog-header h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 450px;
}

.pure-js-dialog-close {
    cursor: pointer;
    font: bold 18px arial;
    position: absolute;
    right: 15px;
    top: 12px;
}

#pure-js-dialog-body {
    font-size: 15px;
    overflow: auto;
    top: 50px;
    word-wrap: break-word;
}

#pure-js-dialog-footer {
    bottom: 0;
    text-align: right;
}

.pure-js-dialog-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    margin-left: 10px;
    outline: none;
    padding: 0 20px;
}

.pure-js-dialog-accept-button {
    background: #2eba00;
}

.green-button, .red-button, .yellow-button, .blue-button {
    color: #fff;
}

.green-button {
    background: #449D44;
}

.red-button {
    background: #C9302C;
}

.yellow-button {
    background: #EC971F;
}

.blue-button {
    background: #286090;
}

.gray-button {
    background: #E6E6E6;
    color: #000;
}
